---
layout: default
style: "index-single"
---
<div id="container" class="container intro-effect-push">

			<a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
			  	<span class="cd-menu-icon"></span>
			</a>

			<header class="header">
				<div class="bg-img">
					<img class="async-image hide" src="#" data-src="http://placehold.it/1280x720/7f8c8d/ffffff" alt="" />
				</div>
				<div class="title hidden" id="title">
					<h1>{{ site.title }}</h1>
				</div>
				<div class="overlay hidden" id="overlay"></div>
			</header>

			<button class="trigger scroll-down-pulse"><span>Trigger</span></button>
			<div class="title">					
				<h1 class="black">{{ site.title }}</h1>
				<h2 class="subline">{{ site.subtitle }}</h2>
			</div>
			<article class="content">
					<div>
					<p>Sometimes I feel as though there are two me's, one coasting directly on top of the other: the superficial me, who nods when she's supposed to nod and says what she's supposed to say, and some other, deeper part, the part that worries and dreams... Most of the time they move along in sync and I hardly notice the split, but sometimes it feels as though I'm two whole new.</p>

					<h2><span class="green">About </span><span class="black">the site:</span></h2>
					<p>This is my personal site in wich I write posts about my trips in the mountins and other excursions. I like to share my experiances with you and if you want to share something with me, find me below.</p>
					<p><img src="http://placehold.it/1600x580/7f8c8d/ffffff"></p>

					<p class="one_half">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar. </p>	

					<p class="one_half">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar. </p>	
					
					<div class="divider"></div>

					<h2><span class="green">Me Myself and I </span><span class="black">the story of me:</span></h2>

					<p><img src="http://placehold.it/480x320/7f8c8d/ffffff" width="246" height="272" alt="" class="float-right"> Lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas.  Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
					<br><br>
					Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.</p>	

					<p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>	

					<p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>	

					<p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>

					<div class="divider"></div>

					<p><span class="firstcharacter green">S</span> ometimes I feel as though there are two me's, one coasting directly on top of the other: the superficial me, who nods when she's supposed to nod and says what she's supposed to say, who nods when she's supposed to nod and says what she's supposed to say, who nods when she's supposed to nod and says what she's supposed to say. </p>	

					<p><img src="http://placehold.it/480x320/7f8c8d/ffffff" width="246" height="272" alt="" class="float-left"> Lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas.  Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
					<br><br>
					Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.</p>	


					<p>Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering t o a baseline grid. The former case isn’t worth discussing here, but the latter requires a closer look.</p>

					<p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?</p>

					<p>As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.</p>

					<blockquote>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings?</blockquote>

					<p>As it turns out, the golden ratio provides us with a formula for proper typesetting. We can now set our type with absolute certainty in any situation! Better still, we can use this information about typography to make more informed decisions about all the spatial aspects of our designs, such as:</p>

					<ul class="ul">
						<li>The amount of whitespace that appears after each paragraph</li>
						<li>Padding, margins, and other units of whitespace </li>
						<li>Headline line-heights in a given width</li>
						<li>Any and all spatial properties that you wish to relate mathematically</li>
					</ul>

					<p>The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text as your new “baseline unit”, you are effectively tying all the dimensions of your layout together with the golden ratio.</p>

				</div>
			
					<div class="grid">
						{% assign landingPagePosts = site.posts | where: "type", "landingPage" %}
						{% for post in landingPagePosts %}
						<figure class="single-item-effect big">
							<img src="http://placehold.it/965x350/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2>{{post.title}} <span>live</span></h2>
									<p>{{post.subtitle}}</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>
								</div>
							</figcaption>												
						</figure>
						{% endfor %}
					</div>
				</div>
				<div class="travelogue-product travelogue-container">
				    <div class="travelogue-product-wrapper">
				    	<!-- Map image -->
				        <img src="{{ site.production_url_theme }}/img/map.jpg">

				        <ul>
						{% for post in landingPagePosts %}
						<li class="travelogue-single-point" style="top: {{post.map-margin-top}}; left: {{post.map-margin-left}}">
				                <a class="travelogue-img-replace" href="#0">Mehr</a>

				                <div class="travelogue-more-info travelogue-left">
									
				                    <h2><a href="{{post.url}}">{{post.title}}</a></h2>

				                    <p>{{post.subtitle}}</p><img src="{{post.map-image}}"> <a href="#0" class="travelogue-close-info travelogue-img-replace">Schliessen</a>
				                </div>
				            </li>
						{% endfor %}
				        </ul>
				    </div>
				</div>
			</article>


		</div>