---
style: "index-single"
layout: default
---
<div id="container" class="container intro-effect-push">

		<a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
		  	<span class="cd-menu-icon"></span>
		</a>

			<header class="header">
				<div class="bg-img">
					<img  class="async-image hide" src="#" data-src="{{ page.header-image }}" alt="" />
					<div class="overlay hidden" id="overlay"></div>
				</div>
				<div class="title hidden" id="title">					
					<h1>{{ page.title }}</h1>
				</div>
			</header>
			<button class="trigger scroll-down-pulse"><span>Trigger</span></button>
			<div class="title">					
				<h1 class="black">{{ page.title }}</h1>
				<h2 class="subline">{{ page.subtitle }}</h2>
			</div>
			<article class="content">
			<div>
				{{ content }}
			</div>
			<div class="divider_30"></div>
			<div class="article-footer">
					<p>
						von <a href="author.html" class="hover-effect"><strong>{{ site.author.name }}</strong></a> &mdash; Geschrieben am {{ page.date | date_to_long_string }}.
					</p>
					
					<div class="clearfix"></div>
			</div>
			</article>
			

			<div class="divider_30"></div>
			<div class="divider_30"></div>

			<div class="pagination grid">
				<figure class="single-item-effect half">
					<img src="http://placehold.it/965x350/7f8c8d/ffffff" alt="If you don't know Where"/>
					<figcaption>
						<div class="figcaption-border">
							<h2><i class="fa fa-angle-left"></i> Previous <span>Post</span></h2>
							<p>Traveling to Casablanca</p>
							<a href="single-traveling-to-casablanca.html">View more</a>
							<div class="figure-overlay"></div>
						</div>
					</figcaption>		
				</figure>
				<figure class="single-item-effect half">
					<img src="http://placehold.it/965x350/7f8c8d/ffffff" alt="img01"/>
					<figcaption>
						<div class="figcaption-border">
							<h2>Next <span>Post</span> <i class="fa fa-angle-right"></i> </h2>
							<p>Bear hugs cheer me up</p>
							<a href="single-bear-hugs.html">View more</a>
							<div class="figure-overlay"></div>
						</div>
					</figcaption>								
				</figure>
				<div class="clearfix"></div>
			</div>
		</div>