---
style: "index-single"
layout: default
---
<div id="container" class="container intro-effect-push">

		<a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
		  	<span class="cd-menu-icon"></span>
		</a>

			<header class="header">
				<div class="bg-img">
					<img  class="async-image hide" src="#" data-src="http://placehold.it/1280x720/7f8c8d/ffffff" alt="" />
					<div class="overlay hidden" id="overlay"></div>
				</div>
				<div class="title hidden" id="title">					
					<h1>I want to travel the world</h1>
				</div>
			</header>
			<button class="trigger scroll-down-pulse"><span>Trigger</span></button>
			<div class="title">					
				<h1 class="black">I want to travel the world</h1>
				<h2 class="subline">And breathe the air of new places</h2>
			</div>
			<article class="content">
			<div>
				{{ content }}
			</div>
			<div class="divider_30"></div>
			<div class="article-footer">
					<p>
						by <a href="author.html" class="hover-effect"><strong>Ferdinand Magellan</strong></a> &mdash; Posted on May 21, 2014, in <a href="category.html" data-href="Animals">Animals</a> and tagged <a href="tags.html"  data-href="Animals">Animals</a>, <a href=""  data-href="Nature">Nature</a>
					</p>
					<p>Excerpt from: <a href=""  data-href="The blog">The blog</a></p>
					
					<div class="clearfix"></div>
			</div>
			</article>
			

			<div class="divider_30"></div>
			<div class="divider_30"></div>

			<div class="pagination grid">
				<figure class="single-item-effect half">
					<img src="http://placehold.it/965x350/7f8c8d/ffffff" alt="If you don't know Where"/>
					<figcaption>
						<div class="figcaption-border">
							<h2><i class="fa fa-angle-left"></i> Previous <span>Post</span></h2>
							<p>Traveling to Casablanca</p>
							<a href="single-traveling-to-casablanca.html">View more</a>
							<div class="figure-overlay"></div>
						</div>
					</figcaption>		
				</figure>
				<figure class="single-item-effect half">
					<img src="http://placehold.it/965x350/7f8c8d/ffffff" alt="img01"/>
					<figcaption>
						<div class="figcaption-border">
							<h2>Next <span>Post</span> <i class="fa fa-angle-right"></i> </h2>
							<p>Bear hugs cheer me up</p>
							<a href="single-bear-hugs.html">View more</a>
							<div class="figure-overlay"></div>
						</div>
					</figcaption>								
				</figure>
				<div class="clearfix"></div>
			</div>
		</div>